{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{partner.name}}</h2>
        <div class="metadata"></div>
        <div class="content">
            <img src="{{partner.image}}" alt="">
        </div>
    </article>


{% endblock %}

{% block title %}

{% endblock %}