{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} Réciprocité 54{% endblock %}

{% block body %}

{{ heading.title }}

    <a href="{{ path('heading_edit', {'id':heading.id}) }}" class="btn btn-danger">modifier</a>
    <a href="{{ path('heading_delete', {'id':heading.id}) }}" class="btn btn-danger">supprimer</a>
{% endblock %}